body {
    font-family: "loos-normal", serif;
}

a {
    text-decoration: none;
    color: #000000;
}

li {
    list-style: none;
    display: inline-block;
}

.menu a:hover {
    text-decoration: underline;
}

.menu {
    font-size: 14pt;
    height: 50px;
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav li {
    margin: 10px;
}

.nav img {
    width: 25px;
}

#header {
    padding-bottom: 5px;
    border-bottom: solid 1px #000000;
}

#footer {
    border-top: solid 1px #000000;
    text-align: center;
}

.title {
    text-align: center;
    font-size: 130pt;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    padding: 5%;
    line-height: 200px;
    display: flex;
}

.video {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
}

#tutVideo {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 750px;
    display: flex;
}

@media only screen and (max-width: 1300px) {
    .title {
        font-size: 100pt;
        padding: 5%;
    }
}

@media only screen and (max-width: 1024px) {
    .title {
        font-size: 90pt;
        padding: 5%;
    }
}

@media only screen and (max-width: 760px) {
    .title {
        font-size: 60pt;
        padding: 5%;
        padding-top: 15%;
    }
}
