#preloaderDiv {
    width: 100%;
    height:100%;
    position: absolute;
    /* border: solid red 1px; */
    text-align: center;
    background-color: white;
    margin: auto;
    
}

#preloaderGif


#preloader {
    width: 90%;
    margin: auto;
    /* border: solid red 1px; */
    text-align: center;

}

/* Everything above is for the animation!  */

#investorInfo{
    padding-left: 15%;
    padding-right: 15%;`
    /* height: 5000px; */
    /* border: solid red 1px; */
    margin: auto;

}

#problemSolution{ 
    margin-top:10px;
    margin-bottom:10px;
    /* border: solid red 1px; */
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    /* max-width: 900px; */
    width:100%;
}


#teamDescriptions {
    display: flex;
    /* flex-direction: row; */
    /* justify-content:center ; */
    /* column-gap: 30px; */
    /* border: solid red 1px; */
    padding: 10px;
    width: 100%;
    margin: auto;

}

.memberDesc {
    text-align: center;
    /* border: solid red 1px; */
    /* display: flex; */

}

.text {
    margin: auto;
    /* text-align: center; */
    width: 75%;
    text-align: center;
    /* border: solid red 1px; */

}

.infoText {
    float: right;
    width: 60%;
    text-align: left;
}

.categoryTitles {
    font-size: 4vw;
    /* border: solid red 1px; */
    margin: auto;
    margin-bottom: 20px;

}

.infoImage1 {
    float: left;
    width: 80%;
    text-align: left;
    /* border: solid red 1px; */
    margin-left: 5%;
}

.infoImage {
    float: left;
    width: 120%;
}

#businessImage img {
    width: 100%;
    /* border: solid red 1px; */
}

.categoryInfo img {
    object-fit:cover;
    width: 80%;
    margin: auto;
    height: auto;
    text-align: center
}

.categoryInfo {
    font-size: 15pt;
    width: 80%;
    margin: auto;
    text-align: center;
    /* border: solid red 1px; */
    display: flex;
    flex-direction: row;
}

#blammockNoun img {
    object-fit:cover;
    width: 80%;
    margin: auto;
    height: auto;
    text-align: ;
    
}

#blammockNoun {
    text-align: center;
    /* border: solid red 1px; */
    

}

#blammockNounText {
    text-align: left;
    /* border: solid red 1px; */
    margin: auto;
    width: 80%;

}

#businessPilot {
    display: flex;
    flex-direction: row;
    row-gap: 500px;
    width: 80%;
}

#nowBeyond {
    width: 90%;
}

.title{
    font-size:12vw;
    text-align: center;
    padding-top:50px;
    padding-bottom:50px;

}
.heading{
    font-size:8vw;
    line-height: 90%;
    margin-bottom: 10px;
}

.section{
    display:flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
#fabricstorepic{
    width:35%;
    margin-right: 20px;
}


#chart{
    width:70%;
    margin:auto;
    text-align: center;
}

.slider {
    -webkit-appearance: none;
    width: 25%%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: darkolivegreen;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: darkolivegreen;
    cursor: pointer;
  }

@media screen and (max-width: 800px) {
    #container {
        flex-direction:column;
        max-width: 800px;
        align-items: center;
        font-size: 3vw;
  
    }
    #TeamDescriptions {
        flex-direction:column;
        max-width: 800px;
        align-items: left;
        font-size: 3vw;
  
    }
    #TeamPics{
      width: 100%;
      
    }
    .memberDesc{
      font-size: 3vw;
      flex-direction:column;
        max-width: 200px;
        align-items: left;
        font-size: 3vw;
        
      }
  }