
.title {
    text-align: center;
    font-size: 12vw;
    line-height: 40vw;
}

.heading {
    font-size: 8vw;
    line-height: 90%;
    margin-bottom:20px

}
#section1{
    display:flex;
    align-items: center;
    justify-content:center;
    padding-left: 30%;
    padding-right: 30%;

}

#section1 img{
    width: 20vw;
    margin:20px;
}

#assemblyPics img{
    width: 23%;
    padding:5px;
}

#section2{
    margin:70px;
    padding-left: 10%;
    padding-right: 10%;
}


@media screen and (max-width: 800px) {
    #section1{
        display:flex;
        align-items: left;
        flex-direction: column;
        padding-left: 10%;
        padding-right: 10%;
    
    }
    #section1 img{
        width: 100%;
        margin:0px;
        margin-bottom:10px;

    }
    #section2{
        margin:0px;
        margin-top:40px;

        padding-left: 10%;
        padding-right: 10%;
    }
    #assemblyPics img{
        width: 40%;
        padding:5px;
        margin-bottom:10px;
    }
  }