
.title {
    text-align: center;
    font-size: 12vw;
    line-height: 40vw;
}

.heading {
    font-size: 8vw;
    line-height: 90%;
    margin-bottom:20px

}
#section1{
    display:flex;
    align-items: center;
    justify-content:center;
    padding-left: 30%;
    padding-right: 30%;
}

#section1 img{
    width: 20vw;
    margin:20px;
}

#assemblyPics img{
    width: 23%;
    padding:5px;
}

#section2{
    margin:70px;
    padding-left: 10%;
    padding-right: 10%;
}

#section3{
    margin:70px;
    padding-left: 10%;
    padding-right: 10%;
}

.video {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    padding-bottom: 50px;
}

#tutVideo {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 750px;
    display: flex;
}

#gallery {
    transition: all 0.5s ease-in-out;
    height: fit-content;
    width: 100%;
    padding: 2.5%;
    padding-top: 4%;
    padding-bottom: 4%;
    object-position: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #bfbfbf;
}

#main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

#thumbnails {
    display: flex;
    flex-direction: column;
    width: 30%;
    overflow: auto;
    max-height: 102vh;
    background-color: #bfbfbf;
}

#thumbnails img {
    width: 95%;
    padding: 1%;
    display: block;
    margin: auto;
}

.thumb {
    border-style: solid;
    border-width: 0px;
    border-color: #000000;
}

#view {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 65%;
    max-height: 110vh;
    background-color: #ffffff;
}

#viewcrop {
    padding: 10px;
}

#viewphoto {
    display: block;
    margin: auto;
    width: 100%;
}


#reviews{
    width:60%;
    margin:auto;
}
#reviews .title{
    line-height: 15vw;
    padding-top: 10vw;

}

#reviews .text{
    text-align: center;
}
.btn {
    font-size: 1vw;
      background-color: black;
      color: white;
      padding: 5px 10px;
      border: solid 1px black;
      margin-bottom: 10px;
  
    }
  
.btn:hover {
      background-color: white;
      color: black;
    }

@media screen and (max-width: 800px) {
    .heading {
        padding-top: 50px;
    }
    
    #section1{
        display:flex;
        align-items: left;
        flex-direction: column;
        padding-left: 10%;
        padding-right: 10%;
    
    }

    #section1 img{
        width: 100%;
        margin:0px;
        margin-bottom:10px;

    }

    #section2{
        margin:0px;
        margin-top:40px;

        padding-left: 10%;
        padding-right: 10%;
    }

    #section3{
        margin:0px;
        margin-top:40px;

        padding-left: 10%;
        padding-right: 10%;
    }

    #assemblyPics img{
        width: 40%;
        padding:5px;
        margin-bottom:10px;
    }
  }