.title {
    text-align: center;
    font-size: 12vw;
}


#reviews{
    width:60%;
    margin:auto;
    padding-bottom: 10vw;
    padding-top: 10vw;

}

#reviews .text{
    text-align: center;
}
.btn {
    font-size: 1vw;
      background-color: black;
      color: white;
      padding: 5px 10px;
      border: solid 1px black;
      margin-bottom: 10px;
  
    }
  
.btn:hover {
      background-color: white;
      color: black;
    }

#leaveARev{
    background-color: lightgray;
    padding:5%;
}

#comment{
    width: 90%;
    height: 20vh;
}

 /* for tablets */
 @media screen and (max-width: 1023px) {
    .btn {
        font-size: 2vw;
          padding: 4px 7px;
          margin-bottom: 15px;
      
        }
  }


  /* for phones*/
  @media screen and (max-width: 768px) {
    #reviews{
        width:80%;
    }

  }