#TeamPics img{
    object-fit:cover;
    width:100%;
    margin: 5px;
    height: auto;
    text-align: center
}
#TeamPics{ 
    margin-top:10px;
    margin-bottom:10px;
    /* border: solid red 1px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* max-width: 900px; */
    width:100%;
}
#TheTeam{
    padding-left: 15%;
    padding-right: 15%;

}

#teamDescriptions {
    display: flex;
    flex-direction: row;
    justify-content:center ;
    /* column-gap: 15%; */
    /* border: solid red 1px; */
    padding: 10px;
    width: 100%;
    margin: auto;

}

.memberDesc img {
    /* border: solid red 1px; */
    /* display: flex; */
    object-fit:cover;
    width:20%;
    margin: 5px;
    height: auto;
    text-align: center

}

.memberDesc {
    text-align: center;
    /* border: solid red 1px; */
    /* display: flex; */
    

}

#descRor {
    /* padding-right: 20px; */
    /* margin-right: 40px;
    margin-left: 30px; */
    /* margin-left: -20px; */
}

#descKM {
    /* margin-left: 90px;
    margin-right: 40px; */
}

#descDM {
    /* margin-left: 40px; */
}

#descEl {
    /* margin-left: 50px;
    margin-right: -20px; */
}

.title{
    font-size:14vw;
    text-align: center;
    padding-top:50px;
    padding-bottom:50px;

}
.heading{
    font-size:8vw;
    line-height: 90%;
    margin-bottom: 10px;
}

.section{
    display:flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
#fabricstorepic{
    width:35%;
    margin-right: 20px;
}

.photos img {
    object-fit:cover;
    width:100%;
    margin: 5px;
    height: auto;
    text-align: center
}

.photos {
    margin-top:10px;
    margin-bottom:10px;
    /* border: solid red 1px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* max-width: 900px; */
    width:100%;
}