#containsMem{
    display:flex;
    justify-content: space-around;
    flex-direction: row;
    padding-bottom:10vh;
}
.member img{
    object-fit:cover;
    width:100%;
    margin: 5px;
    width: 20vh;
    height: 20vh;

    text-align: center
}
#TeamPics{ 
    margin-top:10px;
    margin-bottom:10px;
    /* border: solid red 1px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* max-width: 900px; */
    width:100%;
}
#TheTeam{
    padding-left: 15%;
    padding-right: 15%;

}

#teamDescriptions {
    display: flex;
    flex-direction: row;
    justify-content:center ;
    column-gap: 30px;
    /* border: solid red 1px; */
    padding: 10px;
    width: 100%;
    margin: auto;

}

.member {
    text-align: center;
    /* border: solid red 1px; */
    /* display: flex; */

}

.title{
    font-size:14vw;
    text-align: center;
    padding-top:50px;
    padding-bottom:50px;

}

.text{
    text-align: center;
    padding-bottom: 10vh;
}
.heading{
    font-size:8vw;
    line-height: 90%;
    margin-bottom: 10px;
}



@media screen and (max-width: 1023px) {
    #containsMem{
        display:flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .member img{
        
        min-width: 20vh;
        min-height: 20vh;
        text-align: center
    }
}

@media screen and (max-width: 800px) {
    #container {
        flex-direction:column;
        max-width: 800px;
        align-items: center;
        font-size: 3vw;
  
    }
    #TeamDescriptions {
        flex-direction:column;
        max-width: 300px;
        align-items: left;
        font-size: 1vw;
        margin-left: 0px;
        margin-right: 0px;
  
    }
    #TeamPics{
      width: 100%;
      
    }
    .memberDesc{
      flex-direction:column;
        max-width: 200px;
        align-items: left;
        font-size: 1vw;
        margin-left: 0px;
        margin-right: 0px;
        column-gap: 0px;
      }
  }
